/* ADD YOUR STYLES HERE */
/* ADD YOUR STYLES HERE */
.centered img{
    
 
    padding:39px;
    display:inline-block;
    position:relative;
}

.centered2 {
   padding:27px;
   display:inline-block;
   vertical-align:text-top;
  
  
   
}
.container {
   height:500px;
   width:700px;
   
}
.verticalCenter{
    padding-top:225px;
}
#horizontal li{
    list-style-type:none;
    margin: 0;
    padding: 0px;
    float:left;
}
#horizontal li { display: inline; }
.button1 {font-size: 24px;
    background-color:salmon;
    height:30px;
    width:150px;
    border-radius:8px;
    display:inline-block;
    color:white;
    text-decoration:none;
    text-align:center;
    vertical-align:middle;
    padding:20px 50px 20px 50px;
   
}
.button2 {font-size: 16px;
    background-color:salmon;
     height:15px;
    width:100px;
    border-radius:8px;
    color:white;
    text-decoration:none;
    display:inline-block;
    text-align:center;
    vertical-align:middle;
    padding:15px 50px 15px 50px;

}
.button3 {font-size: 12px;
    background-color:salmon;
     height:10px;
    width:10px;
    border-radius:8px;
    color:white;
    text-decoration:none;
    display:inline-block;
    text-align:center;
    vertical-align:middle;
    padding:10px 20px 10px 10px;
}
#button4 {font-size: 16px;
    background-color:salmon;
     height:15px;
    width:90px;
    border-radius:8px;
    color:white;
    text-decoration:none;
    display:inline-block;
    text-align:center;
    vertical-align:middle;
    padding:15px 50px 15px 50px;

}
#button5 {font-size: 16px;
    background-color:salmon;
     height:45px;
    width:190px;
    border-radius:8px;
    color:white;
    text-decoration:none;
    display:inline-block;
    text-align:center;
    vertical-align:middle;
    padding:15px 50px 15px 50px;
    border:transparent;

}
#button6 {font-size: 16px;
    background-color:salmon;
     height:45px;
    width:190px;
    border-radius:8px;
    color:white;
    text-decoration:none;
    display:inline-block;
    text-align:center;
    vertical-align:middle;
    padding:15px 50px 15px 50px;
    border:transparent;

}
.buttons li a{
    
    
    
    
    background-color:salmon;
     height:25px;
    width:80px;
    /*border-radius:8px;*/
    color:white !important;
    text-decoration:none;
    display:inline-block;
    text-align:center;
    vertical-align:middle;
    padding:10px;
    border:transparent;
}
.buttons li{
    list-style-type:none;
    margin: 0;
    padding: 0px;
    float:left;
    
}

.buttons li:first-child a {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

li:last-child a{
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
#pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#pagination li {display: inline;
    padding:3px;
}
.pagination {
    
}
#pagination  a, span {
   display:inline-block;
    color: salmon;
   /* float: left;*/
    padding: 15px 12px 15px 12px;
    text-decoration:none;
    font-size: 18;
    font-weight: bold;

}
#pagination span {
    color: #BBB;
    border-bottom: 3px solid #BBB;
}
#pagination a {
    border-bottom:3px solid salmon;
}

#pagination li a:hover:not(.active) {background-color: #ddd;}

#pagination li span:hover:not(.active) {background-color: #ddd;}

#pagination li a {
    
    border-bottom-color: salmon;
}
#pagination li:first-child a {
   border-bottom:none!important;
}

li:last-child a{
    border-bottom: none!important;
}
.date {
    font-size:75%;
    color:#BBB;
}
.buffer {
    padding-right:10px;
}
.box {
    height:60px;
    width:100%;
    
}
.move {
    float:left;
    position:relative;
    left:90px;
    
}


/*.tabs {
  position: relative;   
  height: 250px; 
  clear: both;
  margin: 25px 10px;
}
.tab {
  float: left;
  
}
.tab label {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: 1px; 
  position: relative;
  left: 1px; 
  color:blue;
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid purple; 
  border-radius: 8px;
  color:black;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}*/
.box-wrap {
    display:inline-block;
    height:250px;
    width:700px;
    border:2px solid #76A3D0;
    padding:10px;
    border-radius: 8px;
    
}
.tab {
    background-color:white;
     height:25px;
    width:80px;
    border-top-left-radius:8px;
    border-top-right-radius: 8px;
    color:blue;
    text-decoration:none;
    display:inline;
    text-align:center;
    vertical-align:middle;
    padding:10px;
    border:2px solid #76A3D0;
    float:left;
    border-bottom-color: transparent;
    z-index: 1;
    position:relative;
    top:3px;
    

}
.tab a{
    color:blue ;
    text-decoration:none;
}